.boby-color{
    background: #f8f8f8;
}
.boby-color-trade-h{
    background: #eaeaea;
    font-weight: 400;
    font-size: 18px;
    color: black;
}
.img{
    width="300";
    height="200";
}
.menu{
    font: bold 24px Arial, Verdana;
}
.menu li a{
    text-decoration: none;
    }
.menu li{
    list-style-type: none;
}
.short-description{
    color: #707070;
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
}
.full-description{
    color: #484343;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
}
.spisok{
    font-size: 26px;
    color: chocolate;
    list-style-image:url(../img/img-li.jpg)
}
.spisok-1{
    color: brown;
}