.boby-color{
    /*background: #f8f8f8;*/
    /*background: #EAFA96;*/
    background: #F0FFF0;
}
.boby-color-trade-h{
    background: #008000;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.img{
    width: 300px;
    height: 250px;
}
.leftimg{
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.hitruy{
    vertical-align: text-bottom;
}
.menu{
    text-align: center; /* меню по середине */
    font: bold 24px Arial, Verdana; /* шрифт и оформление текста меню */
    margin: 10px;
}
.menu-back{
    background: orange;
    height: 60px;
    margin: 10px;
}
.menu li a{
    transform: skewX(30deg); /* наклон меню */
    color: #fff; /* Цвет ссылок */
    display: block; /* Блочный элемент */
    padding: 5px 15px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    }
.menu li{
    display: inline-block; /* делает список горизонтальным */
    list-style-type: none; /* убираем точки из списка меню */
    transform: skewX(-30deg); /* наклон меню */
    background: #008000; /* Цвет фона */
    margin-right: 3px; /* Расстояние между пунктами меню */
    margin-top: 10px;
}
.short-description{
    color: #707070;
    font-size: 18px;
    line-height: 20px;
    font-style: italic;
}
.full-description{
    color: #484343;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
}
.spisok{
    font-size: 26px;
    color: darkgreen;
    list-style-image:url(../img/img-li.jpg)
}
.spisok-1{
    color: brown;
}
.field input{
    color: darkgreen;
    font-size: 18px;
    background: #EAFA96;
}
.input_text{
    width: 400px;
    height: 100px;
}
.footer{
    color: darkgreen; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
}